@import url('https://fonts.googleapis.com/css2?family=Actor&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Tiny5&display=swap');

:root {
--black: #080708ff;
--blue-crayola: #3772ffff;
--red: #df2935ff;
--sun-yellow: #fdca40ff;
--white: #e6e8e6ff;

--ff-title: 'Lobster Two', cursive;
--ff-text: 'Actor', sans-serif;
--ff-logo: 'Tiny5', monospace;

--logo-gradient: -webkit-linear-gradient( var(--sun-yellow), var(--blue-crayola));
--title-gradient: -webkit-linear-gradient( 45deg, var(--sun-yellow), var(--red), var(--blue-crayola));
}

/* CSS RESET */

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/* END RESET */

/* PAGE STYLING */

body{
    font-family: var(--ff-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--black);
}

.container{
    max-width: 100vw;
    height: 100vh;
    margin-inline: auto;
    padding-inline: 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin-bottom: 1.5rem;
}

.nav-bar ul {
    display: flex;
    gap: 2em;
    margin-right: 5%;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--white);
}



.nav-bar a:hover {
    color: var(--blue-crayola);
    transition: 0.3s;
}

.logo {
    font-family: var(--ff-logo);
    font-size: 1.75rem;
    background: var(--logo-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email {
    margin-right: 2rem;
    font-size: 1.25rem;
    
}

.email i {
    color: var(--sun-yellow);
}

.email i:hover {
    color: var(--blue-crayola);
    transition: 0.3s;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.heading {
    font-family: var(--ff-title);
    font-size: 3em;
    text-wrap: pretty;
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    padding: 2rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.hero-text .heading{
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1.25em;
    text-wrap: pretty;
    max-width: 70%;
    text-align: center;
    margin: 1.5em auto;
}

.hero-text button {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--blue-crayola);
    color: var(--white);
    cursor: pointer;
}

.hero-text button:hover {
    background-color: var(--sun-yellow);
    color: black;
    transition: 0.3s ease all;
}

.hero-profile {
    margin: 0 auto;
    text-align: center;
}

.hero-profile img {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--white);
    box-shadow: var(--white) 0px 5px 15px;
    
}

@media screen and (max-width: 780px) {
    .hero-text {
        width: 100%;
    }

    .hero-profile img {
        width: 80%;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-icons i {
    font-size: 1.5em;
    color: var(--white);
    border-radius: 50%;
}

.fa-brands:hover {
    color: var(--sun-yellow);
    box-shadow: var(--white) 0px 2px 10px;
    transition: 0.3s ease all;
}